
src/__pycache__/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/
env/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Linux
*~

# Logs
*.log

# Python egg metadata
*.egg-info/
*.egg
dist/
build/


# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
.cache
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pydantic compiled models
__pydantic__/

# Local .env files
*.env

# AWS credentials
.aws/

# Docker
*.pid
*.pid.lock
